/* ImageGallery.css */

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .image-container {
    margin: 10px;
    width: 300px; /* 이미지와 텍스트의 너비를 동일하게 설정 */
  }
  
  .image {
    width: 100%;
  }
  
  .image-name, .image-description {
    width: 100%;
    word-wrap: break-word; /* 텍스트를 이미지 폭에 맞추기 위해 단어 단위로 줄 바꿈 */
    margin-top: 10px; /* 텍스트와 이미지 사이의 간격 설정 */
    text-align: left; /* 텍스트를 좌측 맞춤으로 설정 */
  }
  